* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Teko', sans-serif;
    font-weight: 600;
}

.home,
.character-page {
    display: block;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    font-size: 3rem;
}

/* Home Page Styling */

#banner-image img {
    position: relative;
    max-width: 100%;
    height: 100%;
}

.banner-image {
    vertical-align: bottom;
    position: absolute;
    width: 100%;
    height: auto;
}

.page-break {
    height: 3px;
    background: #2e2e2e;
}

/* Character Page Styling */

.top-banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: linear-gradient(to right, #202020, #3d3d3d, #202020);
    box-shadow: 0px 1px 3px 2px #2e2e2e;
}

.top-banner {
    position: relative;
    height: 50vh;
    overflow: visible;
  }

  .top-banner-container:hover img[alt="top-banner-img"] {
    transform: scale(1.2);
  }
  
  .top-banner img {
    position: relative;
    display: block;
    height: 100%;
    width: auto;
    transition: transform 1.0s ease;
    transform-origin: center center;
  }

  .top-banner-spacer {
    position: relative;
    display: flex;
    width: 100%;
    height: 13px;
    background: #2e2e2e;
  }


  .banner-text-underlay {
    position: absolute; 
    max-width: 100%;
    display: flex;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #fff;
    font-size: 100px;
    transform: translate(0%, 50%);
    top: 40%;
    left: 10%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
               0 0 20px rgba(255, 255, 255, 0.5),
               0 0 30px rgba(255, 255, 255, 0.3),
               0 0 40px rgba(255, 255, 255, 0.2),
               0 0 50px rgba(255, 255, 255, 0.1);
    font-weight: 600;
  }

  .showcase-media {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
  }

  .character-showcase {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }

  .bottom-video-spacer {
    position: relative;
    display: flex;
    width: 100%;
    height: 13px;
    background-color: #1C1C1B;
  }

  /* Character Card Styling */
  .character-card {
    display: flex;
    justify-content: flex-start; /* Align elements to the left */
    align-items: stretch; /* Stretch elements to take full height */
    overflow-y: hidden;
  }
  
  .information-panel {
    display: flex; /* Change display to flex */
    align-items: center;
    height: 800px;
    width: 100%;
    background: linear-gradient(to right, #202020, #3d3d3d, #202020);
    z-index: -1;
  }
  
  .side-banner {
    flex: 0 0 auto;
    height: 100%;
    background-color: #1C1C1B;
  }
  
  .details-panel {
    margin-left: 11px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 390px;
    height: 780px;
    border: solid 8px;
    border-radius: 20px;
    border-color: #525252;
    color: white;
  }

  .character-title {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    padding-right: 7px;
    margin-bottom: 20px;
  }

  .character-title div {
    margin-left: 8px;
  }

  .info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 250px;
    white-space: nowrap;
    gap: 90px;
    margin-bottom: 20px;
  }

  .character-affiliation {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
  }

  .character-affiliation div {
    font-weight: 500;
  }

  .character-nation {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
  }

  .character-nation div {
    font-weight: 500;
    margin-top: 4px;
  }

  .character-rarity {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin-right: 10px;
  }

  .card-rarity img {
    height: 16px;
    width: 16px;
    transform: scale(1.75);
    margin-left: 8px;
    margin-top: 4px;
  }

  .description-container {
    text-align: center;
    width: 300px;
    padding-bottom: 20px;
  }

  .description-container p {
    font-size: 20px;
    font-weight: 300;
  }

  .constellation-weapon-container {
    display: flex;
    grid-template-columns: 1fr, 1fr;
    gap: 40px;
  }

  .weapon-container {
    text-align: center;
    font-size: 24px;
    font-weight: 300;
  }

  .weapon-container img {
    height: 140px;
    width: 140px;
  }

  .character-weapon {
    font-size: 18px;
    font-weight: 400;
  }

  .constellation-container {
    text-align: center;
    font-size: 24px;
    font-weight: 300;
  }

  .constellation-container img {
    height: 150px;
    width: 150px;
  }

  .character-constellation {
    font-size: 18px;
    font-weight: 400;
  }

  .details-panel h1 {
    font-size: 36px;
  }

  .talent-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 780px;
    border: solid 8px;
    border-radius: 20px;
    border-color: #525252;
    margin-left: 20px;
    margin-right: 11px;
    color: white;
  }

  .panel-title {
    font-size: 78px;
    font-weight: 400;
    letter-spacing: 2px;
  }

  .talent-detail-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    margin-top: -10px;
  }

  .talent-details {
    text-align: center;
  }

  .talent-details h1 {
    text-align: left;
    font-size: 1.75vw;
    margin-left: 15px;
    font-weight: 400;
  }

  .talent-details h2 {
    text-align: left;
    font-size: 1vw;
    margin-left: 15px;
    font-weight: 300;
  }

  .talent-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .talent-icon img {
    height: 100px;
    width: 100px;
  }

  .talent-description p {
    justify-items: center;
    font-size: 0.8vw;
    font-weight: 300;
    letter-spacing: 2px;
  }

  .talent-preview {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
  }

  .talent-preview img {
    transform: scale(1.25);
    border: solid 5px;
    border-color: #eeeeee;
    border-radius: 8px;
  }
  
  .primogem-rarity {
    display: flex;
    position: absolute;
    top: 70%;
    left: 13%;
  }

  .primogem-rarity img {
    height: 75px;
    width: 75px;
    margin-right: -18px;
  }

  .character-name img {
    height: 75px;
    width: 75px;
    margin-left: 10px;
  }

/* Pyro Styling */
.pyro .character-panel {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pyro .character-btn {
    display: flex;
    align-items: center;
    width: 100%;
    background: linear-gradient(to right, #fd672b, #fff);
    color: #fff;
    border: none;
}

.pyro .character-btn:hover {
    background: #2e2e2e;
    backface-visibility: hidden;
}

.pyro .character-btn button {
    display: flex;
    flex-wrap: wrap;
}

.pyro .text-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-size: 32px;
    width: 166px;
    height: auto;
}

.pyro .character-btn img {
    margin-right: 10px;
    width: 95px;
    height: 95px;
}

.pyro .spacer {
    flex-grow: 1;
}

.pyro .vision-icon {
    margin-left: 10px;
    width: 95px;
    height: 95px
}

/* Electro Button Styling */
.electro .character-panel {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.electro .character-btn {
    display: flex;
    align-items: center;
    width: 100%;
    background: linear-gradient(to right, #b971ad, #fff);
    color: #fff;
    border: none;
}

.electro .character-btn:hover {
    background: #2e2e2e;
}

.electro .character-btn button {
    display: flex;
    flex-wrap: wrap;
}

.electro .text-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-size: 32px;
    width: 166px;
    height: auto;
}

.electro .character-btn img {
    margin-right: 10px;
    width: 95px;
    height: 95px;
}

.electro .spacer {
    flex-grow: 1;
}

.electro .vision-icon {
    margin-left: 10px;
    width: 95px;
    height: 95px
}

/* Cryo Button Styling */
.cryo .character-panel {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cryo .character-btn {
    display: flex;
    align-items: center;
    width: 100%;
    background: linear-gradient(to right, #42ccee, #fff);
    color: #fff;
    border: none;
}

.cryo .character-btn:hover {
    background: #2e2e2e;
}

.cryo .character-btn button {
    display: flex;
    flex-wrap: wrap;
}

.cryo .text-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-size: 32px;
    width: 166px;
    height: auto;
}

.cryo .character-btn img {
    margin-right: 10px;
    width: 95px;
    height: 95px;
}

.cryo .spacer {
    flex-grow: 1;
}

.cryo .vision-icon {
    margin-left: 10px;
    width: 95px;
    height: 95px
}

/* Hydro Button Styling */
.hydro .character-panel {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hydro .character-btn {
    display: flex;
    align-items: center;
    width: 100%;
    background: linear-gradient(to right, #208fd8, #fff);
    color: #fff;
    border: none;
}

.hydro .character-btn:hover {
    background: #2e2e2e;
}

.hydro .character-btn button {
    display: flex;
    flex-wrap: wrap;
}

.hydro .text-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-size: 32px;
    width: 166px;
    height: auto;
}

.hydro .character-btn img {
    margin-right: 10px;
    width: 95px;
    height: 95px;
}

.hydro .spacer {
    flex-grow: 1;
}

.hydro .vision-icon {
    margin-left: 10px;
    width: 95px;
    height: 95px
}

/* Anemo Button Styling */
.anemo .character-panel {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.anemo .character-btn {
    display: flex;
    align-items: center;
    width: 100%;
    background: linear-gradient(to right, #25bda3, #fff);
    color: #fff;
    border: none;
}

.anemo .character-btn:hover {
    background: #2e2e2e;
}

.anemo .character-btn button {
    display: flex;
    flex-wrap: wrap;
}

.anemo .text-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-size: 32px;
    width: 166px;
    height: auto;
}

.anemo .character-btn img {
    margin-right: 10px;
    width: 95px;
    height: 95px;
}

.anemo .spacer {
    flex-grow: 1;
}

.anemo .vision-icon {
    margin-left: 10px;
    width: 95px;
    height: 95px
}

/* Geo Button Styling */
.geo .character-panel {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.geo .character-btn {
    display: flex;
    align-items: center;
    width: 100%;
    background: linear-gradient(to right, #bbb939, #fff);
    color: #fff;
    border: none;
}

.geo .character-btn:hover {
    background: #2e2e2e;
}

.geo .character-btn button {
    display: flex;
    flex-wrap: wrap;
}

.geo .text-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-size: 32px;
    width: 166px;
    height: auto;
}

.geo .character-btn img {
    margin-right: 10px;
    width: 95px;
    height: 95px;
}

.geo .spacer {
    flex-grow: 1;
}

.geo .vision-icon {
    margin-left: 10px;
    width: 95px;
    height: 95px
}

/* Dendro Button Styling */
.dendro .character-panel {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dendro .character-btn {
    display: flex;
    align-items: center;
    width: 100%;
    background: linear-gradient(to right, #25ca4e, #fff);
    color: #fff;
    border: none;
}

.dendro .character-btn:hover {
    background: #2e2e2e;
}

.dendro .character-btn button {
    display: flex;
    flex-wrap: wrap;
}

.dendro .text-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-size: 32px;
    width: 166px;
    height: auto;
}

.dendro .character-btn img {
    margin-right: 10px;
    width: 95px;
    height: 95px;
}

.dendro .spacer {
    flex-grow: 1;
}

.dendro .vision-icon {
    margin-left: 10px;
    width: 95px;
    height: 95px
}